

.open-san {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
 
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url(../images/developer.png), url(../images/header_bg.png),   #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;

}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    width: 71%;
    max-width: 1140px;
    
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    align-items: center;


    

}
nav .menu{
    display: flex;
  list-style-type: none;
  gap: 51px;
  font-size: 20px;
  align-items: center;
  


}
li button{
    font-size: 20px;
    padding-top: 18.28px;
    padding-bottom: 19.3px;
    padding-left: 36px;
    padding-right: 35px;
    background-color:#FD6E0A;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    color: white;
}
nav div h2{
    font-size: 45px;
    font-weight: bolder;
}
.banner{
    margin-left: 230px;
    margin-right: 38px;
    margin-top: 46px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
 .writen-part h2{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}
 .writen-part h1{
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 20px;
}
 .writen-part p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
    font-size: 18px;
    color: #757575;
}
.b1{
    font-size: 20px;
    font-weight: bold;
    background-color:#FD6E0A;
   
   border: none;
   padding: 18px 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.b2{
     font-size: 20px;
    font-weight: bold;
    color: #FD6E0A;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    margin-left: 30px;
    cursor: pointer;
    
}
.writen-part{
    max-width: 585px;
    margin-left: 0%;
    
}
.banner .image-part{
    width: 585px;
    vertical-align: middle;
    
}
.c2{
    padding-top: 130px;
    
    
}
.c2 .about {
    text-align: center;
    width: 71%;
    max-width: 1140px;
    
    margin: 0% auto;
    background-color: #FFF8F3;
    padding: 131px 156px;

}
.about-paragraph h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    width: 827px;
    text-align: center;
}
.about-paragraph p{
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;

}
.footer{
    display: flex;
    justify-content: space-around;
}
.e1 h4{
    color: #757575;
    font-size: 20px;



}
.e1 p{
    font-size: 20px;
    font-weight: bold;
}
.e2 h4{
    color: #757575;
    font-size: 20px;



}
.e2 p{
    font-size: 20px;
    font-weight: bold;
}
.e3 h4{
    color: #757575;
    font-size: 20px;

}
.e3 p{
    font-weight: bold;
    font-size: 20px;

}
.e4 h4{
    color: #757575;
    font-size: 20px;
}
.e4 p{
    font-size: 20px;
    font-weight: bold;
}
.fulldiv{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
}
.c3,.resume{
    padding-top:   130px;

}
.headerdiv{
    text-align: center;
    max-width: 827px;
    margin: 0 auto;
}
.skilldiv{
    display: flex;
    gap: 24px;
}
.d1{
    max-width: 267px;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000027;

    

    
}
.d2{
    max-width: 267px;
    padding: 30px;
     background-color: #FFFFFF;
      background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000027;
    
}
.d3{
    max-width: 267px;
    padding: 30px;
     background-color: #FFFFFF;
      background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000027;
    
}
.d4{
    max-width: 267px;
    padding: 30px;
     background-color: #FFFFFF;
      background-color: #FFFFFF;
    box-shadow: 0 6px 50px 0 #00000027;
    
}
.d1 img{
    max-width: 600px;
    margin-bottom: 30px;
}
.d3 h1{
    margin-bottom: 20px;
}
.v{
    
    font-size: 20px;
    margin-bottom: 20px;
}

.w2{
    
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.t2{
    
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.d2 img {
    max-width: 49.93px;
    margin-bottom: 30px;

}
.d3 img {
    max-width: 40px;
    margin-bottom: 30px;
}
.x3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;


}
.y3{
     font-size: 16px;
    color: #757575;
    line-height: 28px;
}

.d4 img{
    margin-bottom: 30px;
    max-width: 44px;
}
.d1 img {
    max-width: 44px;
    margin-bottom: 30px;
}
.pxt{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: bold;
}
.xxt{
    margin-bottom: 50px;
    line-height: 30px;
    font-size: 18px;
    color: #757575;
    font-weight: 0;
}
 .h1{
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}
.resume-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    margin-top: 113px;
    display: flex;
    gap: 24px;

}
.my-education{
    max-width: 558px;
}
.education-tittle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.resume-card{
    max-width: 511px;
    margin-right: 47px;
    margin-bottom: 60px;
     
   
    
}
.h2{
    font-size: 25px;
    font-family: bold;
    color: #474747;
    margin-bottom: 10px;
}
.p1{
    font-size: 20px;
    font-weight: 600;
    color: #757575;
    margin-bottom: 20px;
}
.p2{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
}
.button{
    text-align: center;
    
    

    
    
}
.btn{
     font-size: 20px;
    font-weight: bold;
    background-color:#FD6E0A;
   
   border: none;
   padding: 18px 35px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
     
}

